<div>
  <h3>Search for stocks</h3>
  <%= form_tag search_stocks_path, remote: true, method: :get, id: 'Stock-lookup-form' do %>
    <div>
    
      <div>
        <%= text_field_tag :stock, params[:stock], placeholder: "Stock ticker symbol", autofocus: true, class: '' %>
      </div>

      <div>
        <%= button_tag(type: :submit, class: '') do %>
          <i class=''></i> Look up a stock
        <% end %>
      </div>
    
    </div>
  <% end %>
</div>
